/*
!.gitattributes
!.gitconfig
!.gitignore
!.bash_profile
!.bashrc
!.bash_aliases

!.dotfiles/

!.config/
.config/*
!.config/gtk-3.0/
!.config/sway/
!.config/i3status/
!.config/kitty/
!.config/nvim/
.config/nvim/plugin
.config/nvim/lua/*
!.config/nvim/lua/jkeDev/
!.config/pacman/
!.config/cmus/
.config/cmus/*
!.config/cmus/rc

!.minecraft/
.minecraft/*
!.minecraft/options.txt
