/*
!.gitattributes
!.gitignore

!.dotfiles/
!docs/

!.config/
.config/*
!.config/git/
!.config/fish/
!.config/gtk-3.0/
!.config/sway/
!.config/waybar/
!.config/i3status/
!.config/mako/
!.config/kitty/
!.config/nvim/
.config/nvim/plugin
.config/nvim/lazy-lock.json
.config/nvim/lua/*
!.config/nvim/lua/jkeDev/
!.config/cabal/
!.config/cmus/
.config/cmus/*
!.config/cmus/rc/

!.mozilla/
.mozilla/*
!.mozilla/firefox/
.mozilla/firefox/*
!.mozilla/firefox/*.ini
!.mozilla/firefox/dotfiles/
.mozilla/firefox/dotfiles/*
!.mozilla/firefox/dotfiles/user-override.lua
!.mozilla/firefox/dotfiles/search.json.mozlz4
