/*
!.gitignore
!.bashrc
!.bash_aliases

!.config/
.config/*
!.config/Code/
.config/Code/*
!.config/Code/User/
.config/Code/User/*
!.config/Code/User/settings.json
!.config/gtk-3.0/
!.config/i3/
!.config/i3status/
!.config/kitty/
!.config/nvim/

!.minecraft/
.minecraft/*
!.minecraft/options.txt
!.minecraft/optionsof.txt

