ACTION!="add", GOTO="kmonad_end"
KERNEL!="event[0-9]*", GOTO="kmonad_end"
SUBSYSTEM!="input", GOTO="kmonad_end"

DRIVERS=="atkbd", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="global-kmonad@$devnode.service"

ATTRS{bInterfaceClass}=="03", \
ATTRS{bInterfaceSubClass}=="01", \
ATTRS{bInterfaceProtocol}=="01", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="global-kmonad@$devnode.service"

LABEL="kmonad_end"
