[Unit]
Description=KMonad configuration using /etc/kmonad/personal.kbd
DefaultDependencies=no

[Service]
Type=exec
ExecStart=/usr/bin/kmonad -w0 -i 'device-file "%I"' %E/kmonad/personal.kbd
Nice=-20
